
#list-Item{
    display:inline-block;
    background-color:transparent;
    border-style:none;
}

#nav{
    background-image:url(cs50Ducky.jpg);
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
    z-index:-1;
    margin:auto;
    width:50%;
    text-align:center;

}

body{
    text-align:center;
    color:white;
    text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
}
a{
    color:white;
}

form{
    background-color: #ffd691;
    display:inline-block;
    width:20%;
    text-align:center;
}
